.booking-hero-h {
    position: relative;
    float: none;
    font-size: 1.6em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: auto;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 245, 217);
    text-shadow: rgb(74, 112, 124) 0px 2px 7px;
}

#hero-cta {
    margin-left: 0%;
    float: left;
    height: 240px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    display: block;
    background-image:url("../img/Comp_2783841.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0% 80%;
    background-repeat: no-repeat no-repeat;
}



#booking-h {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
    margin-left: auto;
    margin-top: 7px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(74, 112, 124);
}


#booking-instructions {
    float: none;
    font-size: 1em;
    width: 80%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1.4em;
    margin: 3px auto 8px;
    clear: none;
    min-height: 58px;
    color: rgb(74, 112, 124);
}

#booking-steps-h {
    float: none;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 600;
}


@media only screen and (min-width: 481px) {
    #booking-hero-h {
        font-size: 2.5em;
        margin-top: 260px;
    }

    #hero-cta {
        height: 300px;
        background-image:url("../img/Comp_2783841.jpg");
        background-attachment: scroll;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 0% 86%;
        background-repeat: no-repeat no-repeat;
    }

    #booking-h {
        font-size: 1.5em;
    }

    #yes-btn {
        font-size: 2.5em;
        height: 70px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    #no-btn {
        font-size: 2.5em;
        height: 70px;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    #booking-instructions {
        font-size: 1.3em;
        margin-top: 6px;
        margin-bottom: 12px;
    }

    #ltblu-div {
        height: 10px;
    }
}

@media only screen and (min-width: 641px) {
    #hero-cta {
        height: 520px;
    }

    #ltpink-div {
        height: auto;
    }

    #yes-btn:hover {
        font-size: 3.8em;
    }

    #yes-btn {
        font-size: 3.6em;
        height: 86px;
        border-top-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 43px;
        border-bottom-left-radius: 43px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    #no-btn:hover {
        font-size: 3.8em;
    }

    #no-btn {
        font-size: 3.6em;
        height: 86px;
        border-top-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 43px;
        border-bottom-left-radius: 43px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    #booking-hero-h {
        font-size: 3.3em;
        margin-top: 472px;
    }

    #ltblu-div {
        height: 10px;
    }

    #booking-h {
        font-size: 2em;
        line-height: 1.6em;
        margin-top: 15px;
    }

    #booking-instructions {
        font-size: 1.6em;
        margin-bottom: 20px;
        margin-top: 12px;
    }
}

@media only screen and (min-width: 961px) {
    #hero-cta {
        height: 640px;
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
    }

    #booking-hero-h {
        font-size: 4.9em;
        margin-top: 568px;
    }

    #ltblu-div {
        height: 10px;
    }

    #booking-instructions {
        font-size: 2.2em;
    }

    #booking-h {
        font-size: 2.9em;
    }

    #yes-btn {
        height: 110px;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 55px;
    }

    #no-btn {
        height: 110px;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        border-bottom-left-radius: 55px;
    }
}

