/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#foot {
    float: none;
    height: 50px;
    width: 100%;
    background-color: rgb(39, 34, 35);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 0px;
    margin-left: auto;
    clear: both;
    margin-right: auto;
}

#dkpink-div {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(231, 164, 201);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 0%;
    clear: both;
}

#ltpink-div {
    float: left;
    height: 100px;
    width: 100%;
    background-color: rgb(244, 203, 228);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
}

#ltblu-div {
    float: left;
    height: 50px;
    width: 100%;
    background-color: rgb(204, 234, 235);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 0px;
    margin-left: 0%;
    clear: both;
}

#bps-logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 30px;
    margin-left: 5%;
    clear: none;
    margin-bottom: 10px;
}

#navbar {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(84, 140, 149);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    padding-bottom: 10px;
}

#hero-cta {
    margin-left: 0%;
    float: left;
    height: 320px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    background-image:url("img/curious_chihuahua.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#book-btn {
    float: left;
    height: 70px;
    font-size: 1.6em;
    margin-left: 49.996745%;
    margin-top: 30px;
    clear: none;
    width: 40%;
    padding: 0px;
    background-color: rgb(231, 164, 201);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
}

#find-btn {
    float: left;
    height: 70px;
    font-size: 1.6em;
    margin-left: 49.996745%;
    margin-top: 20px;
    clear: both;
    width: 40%;
    margin-right: 0%;
    padding: 0px;
    background-color: rgb(231, 164, 201);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
}

#join-btn {
    float: left;
    height: 70px;
    font-size: 1.6em;
    margin-left: 49.996745%;
    margin-top: 20px;
    clear: both;
    width: 40%;
    margin-right: 0%;
    padding: 0px;
    background-color: rgb(231, 164, 201);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
}

#copyright {
    float: none;
    font-size: 0.8em;
    width: 84.136874%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 245, 217);
    margin-right: auto;
}

#designer {
    float: none;
    font-size: 0.7em;
    width: 84.136874%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 5px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 245, 217);
    margin-right: auto;
}

#story-btn {
    float: left;
    height: 70px;
    font-size: 1.4em;
    margin-left: 6.33155%;
    margin-top: 15px;
    clear: none;
    width: 40%;
    padding: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    background-color: rgb(74, 112, 124);
    margin-right: 0%;
}

#work-btn {
    float: left;
    height: 70px;
    font-size: 1.4em;
    margin-left: 7.443894%;
    margin-top: 15px;
    clear: none;
    width: 40%;
    padding: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    margin-right: 0%;
    background-color: rgb(74, 112, 124);
}

#book-btn:hover {
    background-color: rgb(244, 203, 228);
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
}

#find-btn:hover {
    background-color: rgb(244, 203, 228);
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
}

#join-btn:hover {
    background-color: rgb(244, 203, 228);
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
}

#story-btn:hover {
    color: rgb(74, 112, 124);
    background-color: rgb(204, 234, 235);
}

#work-btn:hover {
    color: rgb(74, 112, 124);
    background-color: rgb(204, 234, 235);
}

#contact-window {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    width: 85%;
    min-height: 300px;
    margin-right: auto;
    background-color: rgb(255, 245, 217);
    border: 6px solid rgb(244, 203, 228);
}

#contact-h {
    float: none;
    font-size: 1.4em;
    width: 39%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: auto;
    margin-top: 30px;
    clear: none;
    min-height: 28px;
    margin-right: auto;
    border-bottom-width: 2px;
    color: rgb(74, 112, 124);
    border-bottom-color: rgb(74, 112, 124);
    border-bottom-style: solid;
}

#contact-p {
    float: none;
    font-size: 1.2em;
    width: 90%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    min-height: 120px;
    margin-right: auto;
    color: rgb(74, 112, 124);
}

#book-btn1:hover {
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
    background-color: rgb(244, 203, 228);
}

#book-btn1 {
    float: none;
    height: 70px;
    font-size: 1.6em;
    margin: 20px auto;
    clear: none;
    width: 51.618118%;
    padding: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    background-color: rgb(231, 164, 201);
}

#map-window {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 30px;
    clear: none;
    width: 85%;
    min-height: 300px;
    border: 6px solid rgb(244, 203, 228);
    background-color: rgb(255, 245, 217);
    margin-right: auto;
    background-image:url("img/bubbles_street_map.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat no-repeat;
}

#find-btn1:hover {
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
    background-color: rgb(244, 203, 228);
}

#find-btn1 {
    float: none;
    height: 70px;
    font-size: 1.6em;
    margin: 212px auto 20px;
    clear: none;
    width: 51.618118%;
    padding: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    background-color: rgb(231, 164, 201);
}

#join-window {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 30px;
    clear: none;
    width: 85%;
    min-height: 300px;
    border: 6px solid rgb(244, 203, 228);
    background-color: rgb(255, 245, 217);
    margin-right: auto;
}

#join-h {
    float: none;
    font-size: 1.4em;
    width: 64%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin-left: auto;
    margin-top: 30px;
    clear: none;
    min-height: 27px;
    margin-right: auto;
    border-bottom-width: 2px;
    color: rgb(74, 112, 124);
    border-bottom-color: rgb(74, 112, 124);
    border-bottom-style: solid;
    min-width: 0px;
}

#join-btn1:hover {
    color: rgb(74, 112, 124);
    font-size: 1.7em;
    font-weight: 600;
    background-color: rgb(244, 203, 228);
}

#join-btn1 {
    float: none;
    height: 70px;
    font-size: 1.6em;
    margin: 20px auto;
    clear: none;
    width: 51.618118%;
    padding: 0px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    color: rgb(255, 245, 217);
    border-width: 0px;
    background-color: rgb(231, 164, 201);
}

#name-input {
    float: none;
    height: 33px;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 88%;
    margin-right: auto;
    background-color: rgb(204, 234, 235);
}

#email-input {
    float: none;
    height: 33px;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 88%;
    margin-right: auto;
    background-color: rgb(204, 234, 235);
}

#dog-input {
    float: none;
    height: 33px;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 88%;
    margin-right: auto;
    background-color: rgb(204, 234, 235);
}

#join-p {
    float: none;
    font-size: 1em;
    width: 75%;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 27px;
    color: rgb(74, 112, 124);
    min-width: 0px;
    margin-right: auto;
}

@media only screen and (min-width: 481px) {
    #join-h {
        font-size: 2em;
        min-height: 33px;
        width: 70%;
    }

    #join-p {
        font-size: 1.4em;
        margin-top: 15px;
    }

    #contact-h {
        min-height: 30px;
        font-size: 2em;
        width: 40%;
    }

    #contact-p {
        font-size: 1.8em;
    }

    #copyright {
        width: 85%;
        margin-top: 15px;
        font-size: 1em;
    }

    #designer {
        margin-top: 7px;
        margin-bottom: 20px;
        font-size: 0.9em;
    }

    #foot {
        height: auto;
    }
}

@media only screen and (min-width: 641px) {
    #hero-cta {
        height: 520px;
    }

    #book-btn {
        height: 120px;
        width: 44%;
        font-size: 3.2em;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        margin-top: 40px;
    }

    #find-btn {
        height: 120px;
        width: 44%;
        font-size: 3.2em;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        margin-top: 40px;
    }

    #join-btn {
        height: 120px;
        width: 44%;
        font-size: 3.2em;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        margin-top: 40px;
    }

    #book-btn:hover {
        font-size: 3.3em;
    }

    #find-btn:hover {
        font-size: 3.3em;
    }

    #join-btn:hover {
        font-size: 3.3em;
    }

    #contact-h {
        font-size: 3.6em;
        width: 50%;
        min-height: 66px;
        margin-top: 40px;
    }

    #contact-p {
        font-size: 2.6em;
        margin-top: 35px;
    }

    #book-btn1 {
        width: 50%;
        height: 100px;
        font-size: 3em;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    #find-btn1 {
        width: 50%;
        height: 100px;
        font-size: 3em;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 300px;
        clear: none;
        margin-bottom: 40px;
    }

    #join-btn1 {
        width: 50%;
        height: 100px;
        font-size: 3em;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    #book-btn1:hover {
        font-size: 2.4em;
    }

    #find-btn1:hover {
        font-size: 2.4em;
    }

    #join-btn1:hover {
        font-size: 2.4em;
    }

    #story-btn {
        font-size: 2em;
        height: 86px;
        border-top-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 43px;
        border-bottom-left-radius: 43px;
        margin-bottom: 15px;
    }

    #work-btn {
        font-size: 2em;
        height: 86px;
        border-top-left-radius: 43px;
        border-top-right-radius: 43px;
        border-bottom-right-radius: 43px;
        border-bottom-left-radius: 43px;
        margin-bottom: 15px;
    }

    #story-btn:hover {
        font-size: 2.2em;
    }

    #work-btn:hover {
        font-size: 2.2em;
    }

    #ltpink-div {
        height: auto;
    }

    #join-h {
        font-size: 3.5em;
        width: 80%;
        min-height: 64px;
        margin-top: 40px;
    }

    #map-window {
        min-height: 400px;
    }

    #join-p {
        font-size: 2em;
        margin-top: 25px;
    }

    #name-input {
        height: 55px;
        margin-top: 30px;
    }

    #email-input {
        height: 55px;
        margin-top: 30px;
    }

    #dog-input {
        height: 55px;
        margin-top: 30px;
    }

    #bps-logo {
        width: 150px;
    }

    #copyright {
        margin-top: 20px;
        font-size: 1.4em;
    }

    #foot {
        height: auto;
    }

    #designer {
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.dog_gallery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0px;
    background-color: #323434;
}

figure img {
    max-height: 500px;
    display: block;
    margin: 0 auto;
}
